P1/EstepaFernandezAlberto.zip
P1/memoria.odt
P2/src/greedy.cpp
P2/src/busquedaLocal.cpp
P2/EstepaFernandezAlberto.zip
P2/memoria.odt
P2/imagenes
P3/src/Ayuda
P3/src/AM.cpp
P3/resultados/Tablas_P2.ods
P3/imagenes
P3/EstepaFernandezAlberto.zip
P3/memoria.odt
Proyecto/teoria/
Proyecto/imagenes
Proyecto/MHs - Práctica-4-Para-evaluación-teoria-Mayo-2020.pdf
Proyecto/presentacion.odp
Proyecto/presentacion.pdf
Proyecto/CS-Alberto-Estepa.zip
